{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block body %}
<!-- Carousel -->
<div class="container-fluid my-0 px-lg-0">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2050">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'im1.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block bg-gradient">
                <h2>Welcome to our Icecream Parlour</h2>
                <h5>Wanna taste the best Icecreams!</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'im2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block bg-gradient">
                <h2>Home Deliveries Available*</h2>
                <h5>No Delivery Charge!</h5>
            </div>
          </div>
          <div class="carousel-item">
            <!-- <img style="height: fit-content;  width: fit-content;" src="https://source.unsplash.com/1600x650/?smoothie" class="d-block w-100" alt="..."> -->
            <img src="{% static 'home/img/im3.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block bg-gradient">
                <h2>Quality Assured</h2>
                <h5>Health is #1 priority</h5>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
</div>
<!-- End of Carousel -->
<!-- Thumbnail -->
<div class="container my-3 px-lg-0">
<h2 class="text-center">Select from range of Icecreams</h2>
    <div class="row row-cols-1 row-cols-sm-auto row-cols-md-2 row-cols-lg-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
            <img style="height: 240px" src="../static/home/img/im4.jpg" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img style="height: 240px" src="../static/home/img/im5.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img style="height: 240px" src="../static/home/img/im6.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
            <img style="height: 240px" src="../static/home/img/im7.jpg" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img style="height: 240px" src="../static/home/img/im8.jpg" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img style="height: 240px" src="../static/home/img/im9.jpg" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
            <img style="height: 240px" src="../static/home/img/im10.jpg" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img style="height: 240px" src="../static/home/img/im11.jpg" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img style="height: 240px" src="../static/home/img/im12.jpg" class="d-block w-100" alt="...">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End of thumbnail -->
{% endblock body %}